fastapi
uvicorn
pydantic[email]
pydantic-settings
email-validator
python-dotenv
boto3
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
nats-py
pytest
pytest-asyncio
pytest-cov
httpx
